@media only screen and (max-width: 1800px) {
    .piePagina{
        font-size: 15px;
    }
    .home{
        padding-top: 2em !important;
        padding-bottom: 6em !important;
    }
    #home button {
        margin-top: 3em !important;
    }
    
}

@media only screen and (max-width: 2000px) {
    body{
        font-size: 19px;
    }
}

@media only screen and (max-width: 1500px) {
    body{
        font-size: 16px;
    }
    .form form {
        min-width: 400px;
    }
}

@media only screen and (max-width: 800px) {
    body{
        font-size: 13px;
    }
    #terzaImg{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 11px;
    }
}

@media only screen and (max-width: 550px) {
    body{
        font-size: 9px;
    }

    .form form{
        min-width: 200px !important;
    }

    .navbar p{
        margin: 0 10px !important;
        padding: 10px 0 !important;
        font-size: 1.1em !important;
    }
}

@media only screen and (max-width: 1260px) {
    .show{
        display: none;
    }
    .form{
        margin: 0 100px;
    }
}

@media only screen and (max-width: 800px) {
    .form form{
        min-width: 300px;
    }
    .form{
        margin: 0 20px;
    }
}


@media only screen and (min-width: 1261px) {
    .hide{
        display: none;
    }
}