
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

.corsivo {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
a {
    text-decoration: none;
}

body {
    color: #2a2b32;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    background-color: #fafafa;
}

.section {
    position: relative;
    width: 100%;
}

.home img{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    /*
    margin-top: 1.5em;*/
    height: 11em;
    margin-bottom: 2em;
    width: auto;
}


.home{
    padding-bottom: 10em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#home button {
    color: white;
    border: 1px solid white;
    background: transparent;
    font-size: 0.9em !important;
    margin-top: 4.5em !important;
    font-weight: 300 !important;
    padding: 0.8em;
    transition: all 0.5s;
    text-transform: uppercase;
}
#home {
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    color: white;
    min-height: 100vh;
}

.background_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#home-bg {
    filter: brightness(60%) !important;
    object-position: 50% 27%;
}

#sfondo-catering{
    filter: brightness(60%) !important;
    object-position: 50% 100% !important;
    object-fit: cover;
}

#sfondo-intermezzo{
    filter: brightness(60%) !important;
    object-position: 50% 70% !important;
    object-fit: cover;
}

#titolo{
    font-size: 2em;
}

.center-o {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt-logo {
}

#txt-logo img {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    /*
    margin-top: 1.5em;*/
    margin-top: 0.5em;
    height: 11em;
    width: auto;
}

.center-v {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.title-left,
.title-right {
    padding-top: 90px;
    padding-bottom: 90px;
}

.title-left {
    position: relative;
    width: 63%;
    left: 7%;
}

.title-right {
    position: relative;
    text-align: right;
    margin-left: 30%;
    width: 60%;
}

#home h1 {
    font-size: 2.3em !important;
}

#home h2 {
    font-size: 2.1em !important;
}

.section h1 {
    font-size: 2.2em;
}

.section h2 {
    font-size: 1.5em;
}

.section p {
    font-size: 1.2em;
}

h2 {
    font-weight: 250;
    font-size: 2.1em;
}

span {
    font-weight: 500;
}

#home button:hover {
    cursor: pointer;
}

.slide:hover,
.slide:focus {
    animation: pulse 2s;
}

@keyframes pulse {
    5% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.slideB:hover,
.slideB:focus {
    animation: pulseB 2s;
}

@keyframes pulseB {
    5% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #2a2b3262;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #2a2b3200;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #2a2b3200;
    }
}

.navbar {
    z-index: 999;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background: transparent;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar p:hover {
    transform: scale(1.05);
}

.navbar p {
    border: 4px solid transparent;
    margin: 0 30px;
    padding: 15px 0px;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.1s;
}

.chi-siamo {
    text-align: center;
}

#chi{
    padding: 100px 0;
}

a:hover {
    cursor: pointer;
}

.chi-siamo h1 {
    font-weight: 250;
    font-size: 2.3em;
}

.chi-siamo h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.6em;
}

.chi-siamo h3 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.7;
}

.chi-siamo h3 span {
    font-size: 1.7em !important;
}

.chi-siamo h1 span {
    font-weight: 500;
}

.line {
    width: 150px;
    border-top: 2px solid #2a2b32;
}

.quote {
    width: 90%;
    margin-left: 5%;
}

.colonne {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
}

.righe{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: center;
    padding: 0 50px;
}

.chi-siamo .img {
    width: 30%;
    min-width: 250px;
    margin: 15px 2em;
    height: fit-content;
    position: relative;
}

.img .carosello{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.prev{
    left: -1em;
}

.next{
    left: 100%;
    margin-left: -1em;  
}

.next, .prev{
    padding: 1em;
    color: white;
    background-color: #2a2b32;
    border-radius: 100%;
    position: absolute;
}

.prev img{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    object-position: -0.15em 0;
}

.next img{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    object-position: 0.15em 0;
}

.prev:hover{
    cursor: pointer;
}

.next:hover{
    cursor: pointer;
}

.right {
    margin: 0 10% 0 0 !important;
    text-align: right;
}

#catering {
    color: white;
    border-bottom: 2px solid #fafafa;
}

#eventi {
    color: white;
    
}

.title-left h2,
.title-right h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-left p,
.title-right p {
    line-height: 1.4;
    vertical-align: bottom;
    margin-top: 5px;
}

.material-symbols-outlined {
    font-size: 1.4em !important;
    font-weight: 300;
    vertical-align: bottom;
}

.centrata h1 {
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 1.6em;

}

#contatta{
    padding: 60px 0;
}

.centrata .centerP{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

fieldset {
    border: none;
}

.form {
    
    
}

.form form {
    min-width: 450px;
    margin: 40px;
    padding: 20px 30px;
    background-color: #fafafa;
    -webkit-box-shadow: -1px 1px 30px -9px #2A2B32;
-moz-box-shadow: -1px 1px 30px -9px #2A2B32;
-o-box-shadow: -1px 1px 30px -9px #2A2B32;
box-shadow: -1px 1px 30px -9px #2A2B32;
}

.campoForm {
    padding: 5px 0;
}

.primo{
    padding-top: 0 !important;
}

.campoForm p {
    font-size: 1em !important;
    text-align: left;
    width: 100%;
}

.campoForm input, .campoForm textarea {
    font-size: 1em;
    width: calc(100% - 22px);
    border: 1px solid #2a2b32;
    padding: 10px 10px;
    font-family: "Montserrat", sans-serif !important;
    resize: none;
}

.campoForm button{
    font-size: 1em;
    padding: 10px;
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    border: 1px solid #2a2b32;
    color: #2a2b32;
    background: #fafafa;
    transition: all 0.2s;
}

.campoForm button:hover{
    cursor: pointer;
}

.centrata p{
    font-size: 0.9em;
}

.piePagina{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #2a2b32;
    font-size: 25px;
}

.piePagina div{
    padding: 1em 2.4em;
    padding-bottom: 0;
}

.piePagina p{
    font-size: 0.7em;
    min-width: 150px;
}

.orari h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
}

.orari p{
    margin: 1em 0;
}

.orari .icone{
    margin-top: 20px;
    font-size: 1em;
    letter-spacing: 0.2em;
}

.icone a{
    color: #fff !important;
}

#partner a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    padding: 0 10px;
    min-width: 100px;
    min-height: 100px;
    object-fit: contain;
    margin: 0 15px;
    background-color: transparent;
    transition: all 0.2s;
}

#partner{
    padding-top: 50px;
}

#partner a:hover{
    transform: scale(1.05);
}
#partner img{
    width: 100%;
    height: auto;
}
#partner h1{
    text-transform: uppercase;
    font-size: 1.6em;
}

.menu{
    width: 95%;
    left: 2.5%;
    padding: 80px 0px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
}

.colonna{
    margin: 20px 0;
    padding: 20px 100px;
    width: calc(48% - 200px);
    min-width: 350px;
}

.vline{
    border-left: 2px solid #2A2B32;
}

.menu h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.menu p{
    margin: 20px 60px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.menu img{
    margin-top: 15px;
    margin-left: calc(10%);
    width: 80%;
}

.lineaPartner{
    position: relative;
    width: 60%;
    margin-left: 20%;
    border-top: 2px solid #2a2b32;
    height: 30px;
}

#separazione{
    height: 60vh;
}

.sucursale{
    text-align: center;
}