@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

a {
    text-decoration: none;
}

.corsivo {
    font-family: 'Bad Script';
}

body {
    color: #2a2b32;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    background-color: #fafafa;
}

.section {
    position: relative;
    width: 100%;
}

#home {
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    color: white;
}

.background_img {
    filter: brightness(30%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#home-bg {
    filter: brightness(50%) !important;
    object-position: 0 27%;
}

#sfondo-catering{
    filter: brightness(50%) !important;
    object-position: 0 100%;
}

.home {
    padding-top: 100px !important;
}

#titolo{
    font-size: 2.2em;
}

.center-o {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt-logo {}

#txt-logo img {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    margin-top: 40px;
    height: 8em;
    width: 8em;
}

.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.title-left,
.title-right {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-left {
    position: relative;
    width: 63%;
    left: 7%;
}

.title-right {
    position: relative;
    text-align: right;
    margin-left: 30%;
    width: 60%;
}

#home h1 {
    font-size: 2.2em !important;
}

#home h2 {
    font-size: 1.8 !important;
}

.section h1 {
    font-size: 2em;
}

.section h2 {
    font-size: 1.6em;
}

.section p {
    font-size: 1.2em;
}

h2 {
    font-weight: 250;
    font-size: 2.1em;
}

span {
    font-weight: 500;
}

#home button {
    color: white;
    border: 1px solid white;
    background: transparent;
    font-size: 1.1em;
    margin-top: 40px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.5s;
    text-transform: uppercase;
}

#home button:hover {
    cursor: pointer;
}

.slide:hover,
.slide:focus {
    animation: pulse 2s;
}

@keyframes pulse {
    5% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.slideB:hover,
.slideB:focus {
    animation: pulseB 2s;
}

@keyframes pulseB {
    5% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #2a2b3262;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #2a2b3200;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #2a2b3200;
    }
}

.navbar {
    z-index: 999;
    position: relative;
    color: white;
    width: 100%;
    background: transparent;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar p:hover {
    transform: scale(1.05);
}

.navbar p {
    border: 4px solid transparent;
    margin: 0 30px;
    padding: 15px 0px;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.1s;
}

.chi-siamo {
    text-align: center;
}

a:hover {
    cursor: pointer;
}

.chi-siamo h1 {
    margin-top: 40px;
    font-weight: 250;
    font-size: 2.3em;
}

.chi-siamo h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.6em;
    font-family: 'Bad Script';
}

.chi-siamo h3 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.7em;
    font-family: 'Bad Script';
    line-height: 1.7;
}

.chi-siamo h3 span {
    font-size: 1.7em !important;
}

.chi-siamo h1 span {
    font-weight: 500;
}

.chi-siamo .line {
    width: 150px;
    border-top: 2px solid #8d8e5c;
}

.quote {
    width: 90%;
    margin-left: 5%;
}

.colonne {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
}

.chi-siamo img {
    width: 27%;
    min-width: 200px;
    height: auto;
    margin: 15px;
}

.right {
    margin: 0 10% 0 0 !important;
    text-align: right;
}

#catering {
    color: white;
}

#eventi {
    color: white;
    border-top: 2px solid white;
}

.title-left h2,
.title-right h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-left p,
.title-right p {
    line-height: 1.4;
    vertical-align: bottom;
    margin-top: 5px;
}

.material-symbols-outlined {
    font-size: 1.4em !important;
    font-weight: 300;
    vertical-align: bottom;
}

.centrata{
    margin: 30px 0;
}

.centrata h1 {
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 2.3em;

}

.centrata .centerP{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

fieldset {
    border: none;
}

.form {
    padding: 40px 0 !important;
}

.form form {
    width: 40%;
    min-width: 200px;
    padding: 20px 30px;
    background-color: #fafafa;
    -webkit-box-shadow: -1px 1px 30px -9px #2A2B32;
-moz-box-shadow: -1px 1px 30px -9px #2A2B32;
-o-box-shadow: -1px 1px 30px -9px #2A2B32;
box-shadow: -1px 1px 30px -9px #2A2B32;
}

.campoForm {
    padding: 5px 0;
}

.primo{
    padding-top: 0 !important;
}

.campoForm p {
    font-size: 1em;
    text-align: left;
    width: 100%;
}

.campoForm input, .campoForm textarea {
    font-size: 1.1em;
    width: calc(100% - 22px);
    border: 1px solid #2a2b32;
    padding: 10px 10px;
    font-family: "Montserrat", sans-serif !important;
    resize: none;
}

.campoForm button{
    font-size: 1.1em;
    padding: 10px;
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    border: 1px solid #2a2b32;
    color: #2a2b32;
    background: #fafafa;
    transition: all 0.2s;
}

.campoForm button:hover{
    cursor: pointer;
}

.centrata p{
    font-size: 1.3em;
}

.piePagina{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #2a2b32;
}

.piePagina div{
    padding: 20px 40px;
}

.piePagina p{
    font-size: 1em;
    min-width: 150px;
}

.orari h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}

.orari p{
    margin: 15px 0;
}

.orari .icone{
    margin-top: 30px;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

.icone a{
    color: #fff !important;
}

#partner{
    margin-top: 50px;
}

#partner a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    padding: 10px;
    min-width: 140px;
    object-fit: contain;
    margin: 15px;
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 20px -9px #2A2B32;
    -moz-box-shadow: -1px 1px 20px -9px #2A2B32;
    -o-box-shadow: -1px 1px 20px -9px #2A2B32;
    box-shadow: -1px 1px 20px -9px #2A2B32;
    transition: all 0.2s;
}

#partner a:hover{
    transform: translateY(-10px);
}

#partner img{
    width: 100%;
    height: auto;
}

